# global ignores
*.pyc
*.pyo
*.pyd
*.so
*.log
*.lock
*.sock
*.whl
*.pt
*.bin
*.onnx
*.ipynb
*.ipynb_checkpoints
**/shared/*.whl

# python & rust cache
__pycache__/
target/
.venv/
.cache/
converted_models/
hf_models/
opt/

# node.js & next.js
node_modules/
.next/
pnpm-store/
client/node_modules/
client/.next/
client/pnpm-store/
dist/
build/
*.log

# IDE & system files
.vscode/
.DS_Store
Thumbs.db
sqlite3.db
*.sqlite3
.git/
.github/
.gitignore

# other
candle/
tokenizer*.json
*.safetensors
